.card {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

@media (max-width: 768px) {
  .singleCards {
    background: hsla(254, 82%, 13%, 1);

    background: radial-gradient(
      circle,
      hsla(254, 82%, 13%, 1) 0%,
      hsla(0, 0%, 0%, 1) 60%
    );

    background: -moz-radial-gradient(
      circle,
      hsla(254, 82%, 13%, 1) 0%,
      hsla(0, 0%, 0%, 1) 60%
    );

    background: -webkit-radial-gradient(
      circle,
      hsla(254, 82%, 13%, 1) 0%,
      hsla(0, 0%, 0%, 1) 60%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#13063D", endColorstr="#000000", GradientType=1 );
  }
}

@media (min-width: 768px) {
  .fullCards {
    background: hsla(254, 82%, 13%, 1);

    background: radial-gradient(
      circle,
      hsla(254, 82%, 13%, 1) 0%,
      hsla(0, 0%, 0%, 1) 60%
    );

    background: -moz-radial-gradient(
      circle,
      hsla(254, 82%, 13%, 1) 0%,
      hsla(0, 0%, 0%, 1) 60%
    );

    background: -webkit-radial-gradient(
      circle,
      hsla(254, 82%, 13%, 1) 0%,
      hsla(0, 0%, 0%, 1) 60%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#13063D", endColorstr="#000000", GradientType=1 );
  }
}
