@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --poppins: "Poppins", sans-serif;
}

.html {
  scroll-behavior: smooth;
}
